@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

body{
  display: block
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto
}

h1{
  margin: auto 50px;
  font-weight: 200;
  float: left;
}

h2{
  margin: auto 50px;
  font-weight: 300;
}

.header{
  width: 100%;
  margin: 15px auto;
}

.header p{
  margin: auto 20px;
}

.informations{
  width: 500px;
  display: flex;
  height: auto;
  flex-direction: column;
  margin:50px auto;
  padding-top: 50px;
  border: 1px black solid;
  position: relative;
}


/*wrapper informations*/
.wrapper-informations{
  margin: 100px auto 0 auto;
  width: 100%;
  height: 250px;
}

select{
  width: 50%;
  margin: auto;
}

.field{
  margin: 20px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


label{
  margin-left: 10px;
}

.txt{
  float: left;
  margin: auto 10px;
}

input{
  float: right;
  margin: auto 0 auto auto;
  width: 90px;
  height: 40px;
  border-radius: 90px;
  border: 1px black solid;
  border: none;
}

.btn-age, .btn-height, .btn-weight{
  background-color: rgb(206, 114, 206);
}

.btn-goal{
  background-color: rgb(127, 198, 216)
}

.unit{
  margin:auto 20px;
}

.submit{
  width: 220px;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  background-color: rgb(180, 211, 118);
  margin: auto auto 30px auto;
  border: none;
}


/*results*/
.results{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
  height: 650px;
  width: 620px;
  margin: 50px auto 50px auto;
  position: relative;
}

.table{
  margin:100px auto 0 200px;
  height: 550px;
  width: 200px;
}

.cell{
  margin: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  color: black;
  display: table;
}

.cell p{
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  position: relative;
}

.cell span{
  left:170px;
  position: absolute;
}

.morbide{
  background-color: #D20039;
  height: 55px;
  
}

.severe{
  background-color: #FF0000;
  height: 55px;
}

.commune{
  background-color: #FF5000;
  height: 55px;
}

.important{
  height: 72px;
  background-color: #FF9909;;
}

.modere{
  background-color: #FFC911;
  height: 22px;
}

.forme{
  background-color: #9EFF00;
  height: 16px;
}

.faible{
  background-color: #FF9909;
  height: 275px;
}

.cursor{
  right: 5px;
  position: absolute;
  bottom: 100px;
}

.cursor p{
  margin: auto -40px -20px auto;
  font-weight: bold;
  z-index: 9999px;
  width: 250px;
  height: 20px;
  background-color: aqua;
}

.cursor p i{
  left: 0;
}

.cursor-weight{
  left: 5px;
  position: absolute;
  bottom: 150px;
}

.cursor-weight p{
  margin: auto auto -20px -100px;
  font-weight: bold;
  width: 250px;
  text-align: center;
  height: 20px;
  background-color:#C18CE5;
  padding-right: 0;
}